body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.page-header {
    margin: 0 0 30px;
    padding-bottom: 0;
}

/*Start SideBar*/
#sidebar ul.list-group {
    margin-bottom: 0;
}

#sidebar .panel-body {
    padding: 0;
}

#sidebar a.list-group-item {
    border: 0;
}

#sidebar .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-group, .table {
    font-size: 12px;
}

a.accordion-toggle {
    text-decoration: none;
}

.panel-group {
    margin-bottom: 3px;
}

tbody tr:hover .row-actions {
    visibility: visible;
}

.top-table .nav {
    display: inline-block;
}

th a.asc:after {
    content: " ⇣";
}

th a.desc:after {
    content: " ⇡";
}

.row-actions {
    font-size: 10px;
    visibility: hidden;
}

.action-view a, .action-delete a, .action-edit a {
    text-decoration: none;
}

.action-delete a {
    color: #BC0B0B !important;
}

.action-approved a {
    color: #2ccc42 !important;
}

.list-table a:hover, .list-table a:active, .list-table a:focus {
    color: #D54E21;
}

.form-wrap {
    margin: 10px 0;
    width: 97%;
}

.column {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.portlet {
    margin: 0 0 1em;
    border-color: #dcdcdc;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

.portlet-header {
    background: -moz-linear-gradient(center top, #EFEFEF, #CACACA) repeat scroll 0 0 transparent;
    padding: 5px 13px;
    background-color: #F5F5F5;
    border: 1px solid #dcdcdc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: move;
}

.portlet-header .ui-icon {
    float: right;
}

.portlet-content {
    padding: 0.4em;
    background-color: #F5F5F5;
}

.ui-sortable-placeholder {
    border: 1px #B3B3B3 dashed;
    visibility: visible !important;
    background-color: #f4f4f4;
    margin: 0 0 20px 0;
    border-radius: 3px;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

.hr-control {
    margin-left: 120px;
}

.hr-control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
}

.hr-control-label-minute {
    float: right;
    padding-top: 5px;
    text-align: left;
}

.publish-widget .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;

}

.hr-form-actions {
    padding: 0 0 5px 10px;
}

.hr-help-block {
    color: #595959 !important;
    margin-top: 10px;
}

.bottom-table .pagination {
    margin: 0;
    display: inline;
}

.bottom-table .paginate-counter {
    padding-top: 8px;
    font-size: 11px;
}

/*jQuery AutoComplete style*/
.ui-autocomplete {
    position: absolute;
    cursor: default;
}

* html .ui-autocomplete {
    width: 1px;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 6px 0 0 0;
    display: block;
    float: left;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background-color: #fafafa;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a:hover {
    background-color: #E5E5E5;
    border-radius: 4px;
    cursor: pointer;

}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
}

.ui-helper-hidden-accessible {
    display: none;
}