#draggable div.widget-item {
    width: 250px;
    margin: 0 20px 10px 0;
    float: left;
    cursor: move;
}

.sortable div.widget-item {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    cursor: move;
}

.panel-heading img {
    padding: 8px 10px 4px 0;
}

.panel-heading h5, .panel-heading h5 {
    font-weight: bold;
    line-height: 10px;
    text-decoration: none;
    text-shadow: 1px 1px #EEEEEE;
}

.panel-description {
    padding: 12px 15px 0 15px;
    color: #828282;
    font-style: italic;
    font-size: small;
}

.in-widget-title {
    color: #696969;
    font-size: small;
}

.widget-inside-click {
    float: right;
    width: 22px;
    cursor: pointer !important;
    padding: 0 0 0 8px;
}

.widget-inside {
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;
    padding: 8px;
}

.widget-form {
    margin: 0;
}

.ajax-feedback {
    padding: 0 5px 0 0;
}

div.clear {
    clear: both;
    height: 2px;
    line-height: 2px;
}

.placeholder {
    float: left;
    border: 1px dashed #a2a2a2;
    border-radius: 4px 4px 4px 4px;
    height: 43px;
    width: 100%;
    margin-bottom: 10px;
}