html {
    background-color: #F9F9F9;
}
body {
	color: #333333;
}
#header {
	background: -moz-linear-gradient(center bottom, #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
	border-color: #C6C6C6;
	color: #333333 !important;
}
#footer {
	background: -moz-linear-gradient(center bottom, #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
	color: #777777;
	border-color: #D1D1D1;

}