.success, .notice, .error {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin: 5px 15px 2px;
    padding: 0 0.6em;
    clear: both;
}
.wrap .flash_notice, .wrap .flash_error, .wrap .flash_success {
    margin: 15px 0 5px;
}
.flash_notice {
    background-color: #FFFFE0;
    border-color: #E6DB55;
}
.flash_error{
    background-color: #FFEBE8;
    border-color: #CC0000;
}
.flash_notice p, .flash_error p, .flash_success p {
    line-height: 1;
    margin: 0.5em 0;
    padding: 2px;
}
.flash_success, .flash_notice, .flash_error {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 0 0.6em;
    clear: both;
}


.wrap .notice, .wrap .error, .wrap .success {
    margin: 15px 0 5px;
}
.notice {
    background-color: #FFFFE0;
    border-color: #E6DB55;
}
.error{
    background-color: #FFEBE8;
    border-color: #CC0000;
}
.notice p, .error p, .success p {
    line-height: 1;
    margin: 0.5em 0;
    padding: 2px;
}
div.error-message{
    color: #ec2323;
}
.cake-debug-output {
    padding: 10px;
    position: relative;
}
.cake-debug-output > span {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #000000;
    display: block;
    float: left;
    padding: 5px 6px;
    position: absolute;
    right: 15px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    top: 15px;
}
.cake-debug, .cake-error {
    clear: both;
    font-size: 16px;
    line-height: 20px;
}
.success, .message, .cake-error, .cake-debug, .notice, p.error {
    background: -moz-linear-gradient(center top , #FFCC00, #E6B800) repeat-x scroll 0 0 #FFCC00;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #404040;
    /*    margin-bottom: 18px;*/
    padding: 7px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
