.list-table {
    margin: 15px 0px;
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    width: 100%;
    border-collapse: separate;
}
.list-table thead, .list-table tfoot {
    text-align: left;
}
.list-table tr {
    line-height: 30px;
}
.list-table tbody tr:hover {
    line-height: 30px;
    background-color: #e8f5ff;
}
.list-table tbody tr td {
    padding: 0 0 0 5px;
    border-bottom: 1px solid #DFDFDF;
}
.list-table tr th {
    background: -moz-linear-gradient(center bottom, #D7D7D7, #E4E4E4) repeat scroll 0 0 transparent;
    color: #333333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    padding: 0 0 0 5px;
}
.list-table thead tr th:first-of-type {
    border-radius: 5px 0px 0px 0px;
}
.list-table thead tr th:last-of-type {
    border-radius: 0px 5px 0px 0px;
}
.list-table tfoot tr th:first-of-type {
    border-radius: 0px 0px 0px 5px;
}
.list-table tfoot tr th:last-of-type {
    border-radius: 0px 0px 5px 0px;
}
th a.asc:after {
    content: " ⇣";
}
th a.desc:after {
    content: " ⇡";
}
.column-cb {
    width: 2.2em;
}
.column-author {
    width: 15%;
}
.column-date {
    width: 15%;
}
.column-author {
    width: 15%;
}
.column-status {
    width: 10%;
}
.column-actions {
    width: 18%;
}
.action-view a, .action-delete a, .action-edit a {
    text-decoration: none;
}
.action-delete a {
    color: #BC0B0B !important;
}
.action-approved a {
    color: #2ccc42 !important;
}
.list-table a:hover, .list-table a:active, .list-table a:focus {
    color: #D54E21;
}
.row-actions{
    margin-top: -12px;
    font-size: 10px;
    visibility: hidden;
}
tbody tr:hover .row-actions{
    visibility: visible;
}