#content{
    margin-top: 15%;
}
.login-logo img{
    margin-bottom: 20px;
    float:left;
    padding-right: 10px;
    /*    background-position: center;*/
}

.login-logo h1{
    padding-top: 20px;
}
.login-logo h1 small{
    font-size: 12px;
}
.control-group span {
    margin-bottom: 10px;
}