@media screen and (max-width: 980px) {

    /************************************************************************************
    STRUCTURE
    *************************************************************************************/
    .pagewidth {
        max-width: 94%;
    }

    /* content */
    #content {
        max-width: 67.8%;
    }

    /* sidebar */
    #sidebar {
        margin: 7% 0 5%;
        max-width: 26.2%;
    }

    /************************************************************************************
    GRID
    *************************************************************************************/
    .col4-1,
    .col4-2,
    .col4-3,
    .col3-1,
    .col3-2,
    .col2-1 {
        margin-left: 2%;
    }

    .first {
        margin-left: 0;
    }

    .col4-1 {
        max-width: 23%;
    }

    .col4-2, .col2-1 {
        max-width: 48%;
    }

    .col4-3 {
        max-width: 72%;
    }

    .col3-1 {
        max-width: 31%;
    }

    .col3-2 {
        max-width: 62%;
    }

}

@media screen and (max-width: 760px) {

    /************************************************************************************
    STRUCTURE
    *************************************************************************************/
    #content {
        width: 100%;
        max-width: 100%;
        float: none;
        clear: both;
    }

    /* sidebar */
    #sidebar {
        width: 100%;
        max-width: 100%;
        float: none;
        clear: both;
    }

    /************************************************************************************
    HEADER
    *************************************************************************************/
    /* reset absolute elements to static */
    #site-logo, #site-description, #main-nav {
        position: static;
        float: none;
        clear: both;
    }

    /* header */
    #header {
        height: auto;
        padding-top: 20px;
    }

    /* social widget */
    .social-widget {
        position: static;
        padding: 10px 0;
        float: none;
    }

    /* searchform */
    #header #searchform {
        left: inherit;
        right: 0;
        top: 20px;
        width: 150px;
    }

    #header #searchform #s {
        float: right;
        width: 50px;
    }

    #header #searchform input#s:focus {
        width: 150px;
    }

    /* site logo */
    #site-logo a {
        font-size: 30px;
    }

    /* site description */
    #site-description {
        margin: 0 0 10px;
    }

    /* nav bar */
    #nav-bar {
        display: none;
    }

    /************************************************************************************
    MAIN NAV
    *************************************************************************************/
    #main-nav {
        height: auto;
        margin: 10px 0;
    }

}

@media screen and (max-width: 480px) {

    /* disable webkit text size adjust (for iPhone) */
    html {
        -webkit-text-size-adjust: none;
    }

    /************************************************************************************
    GRID
    *************************************************************************************/
    .col4-1,
    .col4-2, .col2-1,
    .col4-3,
    .col3-1,
    .col3-2 {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    /************************************************************************************
    MOBILE NAV BUTTON
    *************************************************************************************/
    .mobile-button {
        position: relative;
        width: 32px;
        height: 30px;
        margin-bottom: 3px;
        margin-right: 3px;
        display: block;
        float: right;
        cursor: pointer;
    }

    .mobile-button:after {
        border: solid 1px #7a7a7a;
        padding: 1px;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -1px;
        left: -1px;
        z-index: -1;

        background-color: #c3c3c3;

        background-image: -moz-linear-gradient(top, #d8d8d8 0%, #999898 100%);
        background-image: -webkit-linear-gradient(top, #d8d8d8 0%, #999898 100%);
        background-image: linear-gradient(top, #d8d8d8 0%, #999898 100%);

        -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
        -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);
        box-shadow: inset 0 0 1px rgba(255, 255, 255, .4), inset 0 1px rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .2);

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    /************************************************************************************
    MAIN NAV (MOBILE)
    *************************************************************************************/
    #main-nav-wrap {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 1000;
    }

    /* menu icon */
    #menu-icon {
        background: url(images/menu-icon.png) no-repeat center center;
    }

    /* main nav */
    #main-nav {
        clear: both;
        position: static;
        width: 180px;
        z-index: 1000;
        padding: 10px 5px;
        background: #fff;
        border: solid 1px #999;
        display: none; /* visibility will be toggled with jquery */

        -webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, .2);
        -moz-box-shadow: 1px 2px 0 rgba(0, 0, 0, .2);
        box-shadow: 1px 2px 0 rgba(0, 0, 0, .2);

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    #main-nav li {
        clear: both;
        float: none;
        margin: 5px 0 5px 10px !important;
        position: static !important;
        padding: 0;
        border: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #main-nav a,
    #main-nav ul a {
        font: inherit;
        text-transform: inherit;
        background: none !important;
        width: auto;
        display: inline !important;
        padding: 0 !important;
        color: #666 !important;
        border: none;

        text-shadow: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #main-nav a:hover,
    #main-nav ul a:hover {
        background: none;
        color: #000 !important;
    }

    /* dropdown */
    #main-nav ul {
        position: static;
        display: block;
        margin: 0;
        padding: 0;
        background: none;
        border: none;

        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    /************************************************************************************
    SEARCH FORM
    *************************************************************************************/
    #searchform-wrap {
        position: absolute;
        top: 5px;
        right: 40px;
        z-index: 1000;
    }

    #search-icon {
        background: url(images/search-icon.png) no-repeat center center;
    }

    #header #searchform {
        clear: both;
        width: auto;
        position: static;
        overflow: hidden;
        background: #fff;
        border: solid 1px #999;
        padding: 5px;
        display: none; /* visibility will be toggled with jquery */

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;

        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    }

    #header #searchform #s {
        background: #eee;
        color: #444;
        padding-left: 8px;
    }

    /************************************************************************************
    LAYOUT
    *************************************************************************************/
    /* post */
    .post {
        width: 100%;
        margin-left: 0;
        float: none;
    }

    /************************************************************************************
    POST NAV
    *************************************************************************************/
    .post-nav .prev, .post-nav .next {
        display: block;
        width: 100%;
        clear: both;
        margin-bottom: 10px;
    }

    /************************************************************************************
    COMMENTS
    *************************************************************************************/
    .commentlist {
        padding-left: 0;
    }

    .commentlist .commententry {
        clear: left;
    }

    .commentlist .avatar {
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 10px 10px 0;
    }

}